.profile {
  padding-top: 20px;
 
  .profile-picture {
    text-align: center;
 
    img {
      width: 100px;
      height: 100px;
      display: block;
      border-radius: 50%;
      margin: auto;
    }
 
    .upload-placehoder {
      width: 100px;
      height: 100px;
      display: block;
      padding: 5px;
      border: 2px solid #808080;
      border-radius: 50%;
      line-height: 80px;
      font-size: 14px;
      margin: auto;
    }
  }
 
  .profile-name {
    margin-top: 20px;

    input {
      text-align: center;
    }
  }
}