<template name="footer">

	<footer class="page-footer hide-on-large-only">
		<div class="row">
			<div class="col s12">
				<ul id="tabs-footer" class="tabs">
					<li class="tab col s4"><a class="active" href="/contacts"><i class="icon-footer medium material-icons">people</i></a></li>
					<li class="tab col s4"><a href="/chats"><i class="icon-footer medium material-icons">chat</i></a></li>
					<li class="tab col s4"><a href="/profile"><i class="icon-footer medium material-icons">settings</i></a></li>
				</ul>
			</div>
		</div>
	</footer>

</template>