<template name="header">

   <header>
      <div class="navbar-fixed">
         <nav class="top-nav">
            <div class="container">
               <div class="nav-wrapper"><a class="page-title">Messenger App</a></div>
            </div>
            <div class="container">
               <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
            </div>
         </nav>
      </div>


      <ul id="nav-mobile" class="side-nav fixed">
         <li class="logo"><a id="logo-container" href="/" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="/img/logo.svg">Your browser does not support SVG</object></a>
         </li>

         <li class="bold"><a href="/contacts" class="waves-effect waves-teal">Contacts</a></li>
         <li class="bold"><a href="/chats" class="waves-effect waves-teal">Chats</a></li>
         <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
               <li class="bold"><a class="collapsible-header waves-effect waves-teal">My Account</a>
                  <div class="collapsible-body">
                     <ul>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/preferences">Preferences</a></li>
                        <li><a href="/avatar">Change Avatar</a></li>
                     </ul>
                  </div>
               </li>
            </ul>
         </li>
         <li class="bold"><a href="/about" class="waves-effect waves-teal">About</a></li>

      </ul>
   </header>

</template>


