<ion-view title="{{chat | chatName}}">
  <ion-nav-buttons side="right">
    <button ng-click="newVideoCall()" class="button button-clear button-positive">
      <i class="icon ion-ios-videocam-outline"></i>
    </button>
    <button class="button button-clear"><img class="header-picture" ng-src="{{chat | chatPicture}}"></button>
  </ion-nav-buttons>
  <ion-content class="chat" delegate-handle="chatScroll">
    <div class="message-list">
      <div ng-repeat="message in messages" class="message-wrapper">
        <div class="message" ng-class="message.userId === $root.currentUser._id ? 'message-mine' : 'message-other'">
          <ng-switch on="message.type">
            <div ng-switch-when="text" class="text">{{message.text}}</div>
            <div ng-switch-when="picture" class="picture">
              <img ng-src="{{message.picture}}">
            </div>
          </ng-switch>
          <span class="message-timestamp">{{message.timestamp | amDateFormat: 'HH:mm'}}</span>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
    
    <button ng-click="sendPicture()" class="button button-clear button-icon button-positive icon ion-ios-camera-outline"></button>

    <label class="item-input-wrapper">
      <input
              ng-model="data.message"
              on-return="sendMessage(); closeKeyboard()"
              on-focus="inputUp()"
              on-blur="inputDown()"
              dir="auto"
              type="text"/>
    </label>
 
    <span>
      <button ng-click="sendMessage()" ng-disabled="!data.message.length > 0" class="button button-clear button-positive">Send</button>
    </span>
   

  </ion-footer-bar>
</ion-view>