<ion-view title="Profile">
  <ion-content class="profile">
    <img ng-src="{{ contact.user() | userPicture }}" alt="profile picture" width="100" height="100">
      
    <div class="list">
      <label class="item item-input">
        <h2>{{contact.user().profile.name}}</h2>
      </label>
    </div>
    <div class="padding text-center">
      <a ng-click="newChat(contact.user()._id)" class="button button-clear button-balanced">Send Message</a><br/>
      <a href="" class="button button-clear button-balanced">Audio Call</a><br/>
      <a href="#/video" class="button button-clear button-balanced">Video Call</a>
    </div>
  </ion-content>
</ion-view>