<ion-view title="Sing Up">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="signup">
    <div class="list">
      <label class="item item-input">
        <input ng-model="data.name" type="text" placeholder="Name">
      </label>
      <label class="item item-input">
        <input ng-model="data.email" type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input ng-model="data.password" type="password" placeholder="Password">
      </label>
      <button class="button button-block button-positive" ng-click="createAccount()">
        Submit
      </button>
    </div>
    <div class="padding text-center">
      <a href="#/signin" class="button button-clear button-stable">Back to login</a>
    </div>
  </ion-content>
</ion-view>